<%- include('partials/header')%>

<div class="container">
  <form method="post">
    <div class="form-group">
      <input value="<%- vaga.id %>" name="id" type="hidden" />
      <label for="titulo">Título da vaga</label>
      <input
        value="<%- vaga.titulo%>"
        type="text"
        name="titulo"
        class="form-control"
        placeholder="Título da vaga"
      />
    </div>
    <div class="form-group">
      <label for="categoria">Categoria</label>
      <select
        name="categoria"
        multiple
        class="form-control"
      >
        <option value="<%- vaga.id %>" selected>
          <%- categoria.categoria %>
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="descricao">Descrição da Vaga</label>
      <textarea
        class="form-control"1"
        name="descricao"
        rows="3"
      >
<%- vaga.descricao%>
      </textarea>
    </div>
    <button class="btn btn-dark mb-2">Salvar Vaga</button>
  </form>
</div>

<%- include('partials/footer')%>
